@model IEnumerable<My_shoppping_site.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Purchase_Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Description)
        </td>
        <td>
           <img src="@Url.Content(item.Product_Picture)" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Purchase_Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Product_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Product_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Product_id })
        </td>
    </tr>
}

</table>
